.row
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %h4 Die digitec Community
      %ul.nav.nav-tabs.navbar-right
        %li.active{:role => "presentation"} 
          %a{:href => "#"} Home
        %li{:role => "presentation"}
          %a{:href => "#"} Profile

.row
  .col-md-6
    .media
      .media-left.picture
        %a{:href => "#"}
          %i.glyphicon.glyphicon-picture
  .col-md-6
    %ul.left-padd
      %li.narrow
        %a.with-padd{:href => "#"}
          %i.glyphicon.glyphicon-star
          %i.glyphicon.glyphicon-star
          %i.glyphicon.glyphicon-star
      %li.narrow
        %a.with-padd{:href => "#"} Powerbank
      %li.narrow
        %a.with-padd{:href => "#"} Bestseller
        %i.glyphicon.glyphicon-ok-circle
      
    .media
      .media-body
        %h4.media-heading.lead
          = product.name
        %p
          %strong Price:
          = product.price
        %p
          = product.description

    %p#notice= notice

    %p
      %strong Category:
      = product.category_id

    = link_to 'Edit', edit_product_path(product)
    = link_to 'Back', products_path

